@charset "utf-8";
@font-face {
    font-family: DIN;
    src:url(D-DIN-Bold.ttf) format('truetype'),
    url(D-DIN-Bold.woff2) format('woff2'),
    url(D-DIN-Bold.woff) format('woff');
}
html{
    background: linear-gradient(rgb(219, 219, 219), rgb(187, 187, 187));
    align-content: center;
    text-align: center;
    font-size: 2em;
    font-family: DIN;
    letter-spacing: 1px;
}
h3{
    color: rgb(154, 63, 214);
    text-shadow: rgb(64, 11, 100) 1px 1px 1px, rgb(64, 11, 100) 2px 2px 1px, rgb(64, 11, 100) 3px 3px 1px;
    padding-right: 0%;
    text-align: center;
}
h1{
    color: rgb(154, 63, 214);
    text-shadow: rgb(64, 11, 100) 1px 1px 1px, rgb(64, 11, 100) 2px 2px 1px, rgb(64, 11, 100) 3px 3px 1px, rgb(64, 11, 100) 4px 4px 1px, rgb(64, 11, 100) 5px 5px 1px;
}
section#Contact p{
    color: rgb(154, 63, 214);
}
section#About{
    background-color: rgb(119, 46, 168);
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    box-shadow: rgb(64, 11, 100) -10px -10px 8px inset, rgb(194, 109, 250) 10px 10px 8px inset, rgba(0, 0, 0, 0.5) 5px 5px 3px;
}
section#Nintendo{
    background-color: rgb(119, 46, 168);
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    box-shadow: rgb(64, 11, 100) -10px -10px 8px inset, rgb(194, 109, 250) 10px 10px 8px inset, rgba(0, 0, 0, 0.5) 5px 5px 3px;
    display: block;
    width: 80%;
    padding-left: auto;
    padding-right: auto;
}
section#About p{
    color: rgb(235,248,226);
    text-shadow: rgb(64, 11, 100) 1px 1px 1px, rgb(64, 11, 100) 2px 2px 1px, rgb(64, 11, 100) 3px 3px 1px;
    padding: 25px;
    text-align: center;
}
section#Nintendo p{
    color: rgb(235,248,226);
    text-shadow: rgb(64, 11, 100) 1px 1px 1px, rgb(64, 11, 100) 2px 2px 1px, rgb(64, 11, 100) 3px 3px 1px;
    padding: 25px;
    text-align: center;
}
section#Contact article p{
    text-shadow: rgb(64, 11, 100) 1px 1px 1px, rgb(64, 11, 100) 2px 2px 1px, rgb(64, 11, 100) 3px 3px 1px;
}
section#Nintendo_PreviousWork{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
/*
@keyframes moveleft {
    0% { transform: translateX(11.2%); }
    100% { transform: translateX(-35.65%); }
}
@keyframes moveright {
    0% { transform: translateX(-35.65%); }
    100% { transform: translateX(11.2%); }
}
section#TopImages{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 0.0002fr 0.0002fr;
    padding-right: 35px; 
    padding-left: 35px;
    width: 150%;
    animation: moveleft 2s infinite;
}
section#BottomImages{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 0.0002fr 0.0002fr;
    padding-right: 35px; 
    padding-left: 35px;
    width: 150%;
    animation: moveright 2s infinite;
}
*/
nav#Images{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    column-gap: 20px;
    width: 100%;
}
nav#Images img{
    border: outset rgb(119, 46, 168) 10px;
    transition: .5s;
}
nav#Images img:hover{
    align-content: center;
    width: 108%;
    border: outset rgb(119, 46, 168) 6.4px;
    z-index: 100;
    transition: .2s;
}
section#SkillsIntro{
    padding-top: 35px;
    padding-bottom: 35px;
}
aside#Prev_Work h3{
    text-align: center;
}
aside#Prev_Work{
    padding-right: 50px; 
    padding-left: 25px;
}
section#About{
    margin-bottom: 5%;
}
section#Skills{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    font-size: 0.6em;
    padding-right: 35px; 
    padding-left: 35px;
}
section#InterestsIntro{
    padding-top: 35px;
    padding-bottom: 35px;
}
section#Interests{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    font-size: 0.6em;
    padding-right: 35px; 
    padding-left: 35px;
}
section#ContactText{
    padding-top: 35px;
    padding-bottom: 35px;
}
section#Contact{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    font-size: 0.6em;
    padding-right: 35px; 
    padding-left: 35px;
    padding-bottom: 35px;
}
article img{
    display: block;
    width: 80%;
    padding-left: 10%;
    padding-right: 10%;
}
article img#Photoshop{
    padding-top: 11%;
}
article img#Premiere{
    padding-top: 11%;
}
article img#AfterEffects{
    padding-top: 11%;
}
section#Contact article img{
    display: block;
    width: 50%;
    padding-left: 25%;
    padding-right: 25%;
}
section#Skills article p{
    color: rgb(154, 63, 214);
    text-shadow: rgb(64, 11, 100) 1px 1px 1px, rgb(64, 11, 100) 2px 2px 1px, rgb(64, 11, 100) 3px 3px 1px;
    padding: 0%;
}
section#Interests article p{
    color: rgb(154, 63, 214);
    text-shadow: rgb(64, 11, 100) 1px 1px 1px, rgb(64, 11, 100) 2px 2px 1px, rgb(64, 11, 100) 3px 3px 1px;
}
nav img{
    display: block;
    width: 100%;
}
body > img{
    display: block;
    width: 25%;
    padding-left: 37%;
    padding-top: 5%;
}
section#Nintendo{
    line-height: 1.2;
}
section#About{
    line-height: 1.2;
}
